<p>Here All Crud Present!</p>
<div>
  <div
    class="container-fluid row d-flex justify-content-center align-items-center"
  >
    <div class="col-2">
      <button class="btn btn-primary p-5" [routerLink]="['/get-api']">
        Get Button
      </button>
    </div>
    <div class="col-2">
      <button class="btn btn-primary p-5" [routerLink]="['/post-api']">
        Add Button
      </button>
    </div>

    <div
      class="container-fluid row d-flex justify-content-center align-items-center mt-4"
    >
      <div class="col-2">
        <button class="btn btn-primary p-5" [routerLink]="['/post-api']">
          Update Button
        </button>
      </div>
      <div class="col-2">
        <button class="btn btn-primary p-5">Delete Button</button>
      </div>
    </div>
  </div>
</div>
